<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Rock, Paper, Scissors</title>
</head>
<body>
        <div class='container'>
            <h1>Rock, Paper, Scissors</h1>
            <p>Player 1: Use <b>S</b> for rock, <b>D</b> for paper, and <b>F</b> for scissors</p>
            <br>
            <p>Player 2: Use <b>J</b> for rock, <b>K</b> for paper, and <b>L</b> for scissors</p>
            <form action='/view_results'>
                <div class ='form-group'>
                    <label for='input'>Make your selection in the same form:</label>
                    <input id='input' name='input' class='form-control' type='password' maxlength= '2'>
                </div>
                <button type='submit' class='btn btn-info' type='text'>Play!</button>
            </form>
        </div>
</body>
</html>
