<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>THE WINNER</title>
    </head>
    <body>
        <div class='container'>
            <h1>Here's who won!<h1>
                <h2>{{ cow }}</h2>
                <br>
        <a href='/'>Back</a>        
    </body>
</html>
